:root{
    --blue1: #003082;
    --blue2: #2569C8;
    --blue3: #086FFF;
    --blue4: #3581FA;
    --blue5: #6796E9;
    --blue6: #A9C4F9;
    --black: #0c0c0c;
    --grey: #2A2E33;
    --white: #F4F4F4;
    --light-yellow: #FFDDB7;
    --light-pink: #FFBBB7;
}
html{
    margin: 0;
    padding: 0;

    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--black);
}
*{
    /* border: 1px solid black; */
}
    
body{
    text-align: center;
}
/* NAVIGATION */

nav.nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 7rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3#logo {
    position: absolute;
    left:5vw;
    font-size: 3rem;
    line-height: 7rem;
}

ul.nav-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

li.nav-item {
    margin: 0 1.5rem;
}
li:last-child {
    position: absolute;
    right:5vw;
}

a.nav-link {
    text-decoration: 0;
    font-size: 1rem;
    color: black;
    line-height: 2rem;
}

#meetWithUs {
    padding: 1rem;
    margin-left: 1.5rem;
    border-radius: 2rem;
    border: 2px solid var(--blue3);
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--blue3);
    /* line-height: 7rem; */
}
/* Existing CSS */

@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
    #meetWithUs {
        display: block;
        padding: 0.5rem;
    }
    ul.nav-menu {
        display: none;
        
    }
    ul.is-visible {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 7rem;
        left: 0;
        /* margin-right: 5rem; */
        width: 100%;
        background-color: #fff;
        /* padding: 1rem; */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .nav-item {
        width: 100%;
        margin: 0;
    }
    li.nav-item {
        margin:0;
    }
    li:last-child {
        position: static;
    }
    
    #dropdown-button {
        display: block;
        position: absolute;
        right: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    .nav-menu:focus{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 7rem;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    /* .nav-menu:focus-within {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 7rem;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    } */
}

@media screen and (min-width: 601px) {
    #meetWithUs {
        display: block;
    }
    .nav-menu {
        display: flex;
    }
    #dropdown-button {
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    html {
        font-size: 12px;
    }
}


 /* Launching Digital Products Fast - SECTION  */

section.LDPF {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
}
h1.LDPF{
    font-size: 7rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
h2.LDPF{
    font-size: 3rem;
    font-weight: 500;
    margin-top: 0;
}
h3.LDPF {
    display: inline-flex;
    align-items: center;
    margin-bottom: 3rem;
    border-radius: 2rem;
    line-height: 1;
    padding: 0.5rem 3rem 0.5rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #D9D9D9;
}

span.LDPF {
    display: inline-flex;
    align-items: center;
    border-radius: 2rem;
    line-height: 1;
    padding: 0.5rem 2.5rem;
    margin-right: 2rem;
    font-size: 1rem;
    color: white;
    background-image: linear-gradient(var(--blue2), var(--blue5));
}

/* Scroller */
.imgScroll {
    height: auto;
    max-width: 200px;
    object-fit: contain;
    display: inline-block;
    border-radius: 20px;
    padding: 0 20px; /* Increase the horizontal padding */
    margin-left: 4rem;
}
.imgScroll:hover{
    background-color: #D9D9D9;

}

.scroller {
    max-width: 70%;
}

.scroller__inner {
padding-block: 1rem;
display: flex;
flex-wrap: wrap;
gap: 1rem;
}

.scroller[data-animated="true"] {
overflow: hidden;
-webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
);
mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 30s;
}

@keyframes scroll {
to {
    transform: translate(calc(-50% - 0.5rem));
}
}
@media screen and (max-width: 600px) {
    .imgScroll {
        margin-left: 2rem;
    }
}
/* 3X - SECTION */


section.section3x {
    position: relative;
    margin: 8rem auto;
    display: flex;
    justify-content: center;
    width: 80%;

}

#orbits {
    position: relative;
    width: 40%;
}

h1.section3x {
    position: absolute;
    background-image: linear-gradient(var(--blue6) 0%, var(--blue4) 50%, var(--blue6) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    font-size: 15rem;

    left: 50%;
    transform: translate(-100%, -30%);
}

img.section3x {
    position: absolute;
    opacity: 0.3;
    
    left: 50%;
    transform: translate(-80%, -10%);
}

div.cards3x {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(10%, 100%); 
    margin: 2rem;
}

div.card3x {
    display: flex;
    border-radius: 1rem;
    border: 1px solid #D9D9D9;
    padding: 2rem;
    margin: 3rem;
    align-items: center;
    font-weight: 400;
    font-size: 1.5rem;
    width: 80%;
}

.material-symbols-outlined {
    color: var(--blue3);
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
