:root{
    --blue1: #003082;
    --blue2: #2569C8;
    --blue3: #086FFF;
    --blue4: #3581FA;
    --blue5: #6796E9;
    --blue6: #A9C4F9;
    --black: #0c0c0c;
    --grey: #2A2E33;
    --white: #F4F4F4;
    --light-yellow: #FFDDB7;
    --light-pink: #FFBBB7;
}
html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--black);
}
*{
    /* border: 1px solid black; */
}
/* INTRO */
div.intro-d {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: top 1000ms;
}
h1.intro-h {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    color: var(--blue3);
    transition: transform 0.5s, color 0.5s;
}

h1.intro-h.active {
    transform: translate(-50%, -50%) rotate(0deg);
    color: #fff;
}

span.intro-s {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    bottom: -30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}
span.intro-s.s2 {
    margin-left: -8px;
}

span.intro-s.active {
    bottom: 0;
    opacity: 1;
}

span.intro-s.fade {
    bottom: 150px;
    opacity: 0;
}
body{
    text-align: center;
    background-image: url(./src/background.webp);
}
/* NAVIGATION */
nav.nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 7rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3#logo {
    position: absolute;
    left:5vw;
    font-size: 3rem;
    line-height: 7rem;
}

ul.nav-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

li.nav-item {
    margin: 0 1.5rem;
}
li.nav-item:last-child {
    position: absolute;
    right:5vw;
}

a.nav-link {
    text-decoration: 0;
    font-size: 1rem;
    color: black;
    line-height: 2rem;
}

#meetWithUs {
    padding: 0.5rem 2.5rem;
    margin-left: 1.5rem;
    border-radius: 2rem;
    border: 2px solid var(--blue3);
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--blue3);
    transition: background-color 300ms;

}
#meetWithUs:hover{
    color: white;
    background-color: var(--blue3);
}
#meetWithUs:active{
    color: white;
    background-color: var(--blue2);
}
/* Existing CSS */

@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
    #meetWithUs {
        display: block;
        padding: 0.5rem;
        margin: 0;
    }
    ul.nav-menu {
        display: none;
        
    }
    ul.is-visible {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 7rem;
        left: -3vw;
        width: 100vw;
        background-color: #f5f4f1;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);

    }
    .nav-item {
        width: 100%;
        margin: 0;
    }
    li.nav-item {
        margin:0;
    }
    li.nav-item:last-child {
        position: static;
    }
    
    #dropdown-button {
        display: block;
        position: absolute;
        right: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    .nav-menu:focus{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 7rem;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

}

@media screen and (min-width: 601px) {
    #meetWithUs {
        display: block;
    }
    .nav-menu {
        display: flex;
    }
    #dropdown-button {
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    html {
        font-size: 12px;
    }
    #meetWithUs {
        padding: 0.5rem 1.5rem;
    }
}


 /* Launching Digital Products Fast - SECTION  */

section.LDPF {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
}
h1.LDPF{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 7rem;
    margin-bottom: 6rem;
}
h2.LDPF{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 5rem;
}
h3.LDPF {
    display: inline-flex;
    justify-items: baseline;
    align-items: center;
    margin-bottom: 3rem;
    border-radius: 2rem;
    padding: 0.5rem 3rem 0.5rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #D9D9D9;
}

span.LDPF {
    border-radius: 2rem;
    padding: 0.5rem 2.5rem;
    margin-right: 2rem;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    background-image: linear-gradient(var(--blue2), var(--blue5));
}

@media screen and (max-width: 600px) {
    h1.LDPF{
        font-size: 5rem;
    }
    h2.LDPF{
        font-size: 2rem;
    }
    h3.LDPF{
        font-size: 1rem;
    }
}
/* Scroller */
.imgScroll {
    height: auto;
    max-width: 200px;
    object-fit: contain;
    display: inline-block;
    border-radius: 20px;
    padding: 0 20px; /* Increase the horizontal padding */
    margin-left: 4rem;
    filter: grayscale(0.9);
}
.imgScroll:hover{
    filter: grayscale(0);

}

.scroller {
    max-width: 70%;
}

.scroller__inner {
padding-block: 1rem;
display: flex;
flex-wrap: wrap;
gap: 1rem;
}

.scroller[data-animated="true"] {
overflow: hidden;
-webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
);
mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 30s;
}

@keyframes scroll {
to {
    transform: translate(calc(-50% - 0.5rem));
}
}
@media screen and (max-width: 600px) {
    .imgScroll {
        margin-left: 0.5rem;
    }
}
/* 3X - SECTION */


section.section3x {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 30rem;
    margin: 8rem auto 0 auto !important;
    display: flex;
    gap: 80px;
}
#orbits {
    position: relative;
    width: 30rem;
    background: radial-gradient(circle, rgba(27,0,255,0.25) 0%, rgba(245,244,241,0.5) 45%);
}
#orbits img.section3x {
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
    aspect-ratio: 1/1;
    transition: transform 0.2s ease;
}
h1.section3x {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%,-40%);
    margin: 0;

    font-size: clamp(5rem, 10vw, 10rem);
    background-image: linear-gradient(to right, var(--blue6) 0%, var(--blue4) 50%, var(--blue6) 100%);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
#cards3x {
    display: flex;
    flex-direction: column;
    width: 30rem;
    justify-content: space-evenly;
}

div.card3x {
    display: flex;
    margin: 10px;
    
    padding: 2rem;
    border: 1px solid gray;
    border-radius: 1.5rem;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.material-symbols-outlined {
    color: var(--blue3);
    font-size: 1.5rem;
    margin-right: 0.5rem;
}


@media screen and (max-width: 750px) {
    section.section3x {
        width: 80%;
        height: auto;
        display: block;
        margin: 6rem auto 0 auto;

    }

    #orbits {
        width: 100%;
        aspect-ratio: 1 / 1;
    }

    #orbits img.section3x {
        position: absolute;
        right: 0%;
    }

    h1.section3x {
        font-size: 20vw;
    }



    #cards3x {
        width: 100%;
        margin-top: 5rem;
        /* background-color: #6796E9; */
    }
}
@media screen and (max-width: 400px) {
    section.section3x {
        width: 85%;
    }
}

/* Developing Solutions For - SECTION */
section.DSF{
    position: relative;
    width: 80%;
    margin: 0 auto 0 auto;
    text-align: center;
}
h3.DSF{
    font-size: 2rem;
    margin-top: 140px;

}
div.blueHeadings{
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 5rem 0 5rem 0;
}
h2.DSF{
    margin: 0;
    font-size: 3rem;
    background-image: linear-gradient(to right, var(--blue6) 0%, var(--blue4) 50%, var(--blue6) 100%);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.blueHeadings a {
    position: relative;
    text-decoration: none;
    padding: 0;
    cursor: pointer;
}
.underline {
    position: absolute;
    bottom: 0;
    height: 5px;
    background: linear-gradient(to left, var(--blue6) 0%, var(--blue3) 100%);
    transition: left 0.5s ease, width 0.5s ease;
}
p.DSF{
    font-size: 1.5rem;
    width: 70%;
    margin: 1rem auto;
}
div#blacknBlueDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 17rem;
    padding: 1rem;
    margin: 8rem auto 6rem auto;
    border-radius: 1.5rem;
    background: linear-gradient(to right, #000000 0%, #2A2E33 50%, #405066 100%);
    
    color: white;
}
h2.blacknBlueDiv{
    font-size: 3rem;
    background-image: linear-gradient(to right, var(--blue6) 0%, var(--blue4) 50%, var(--blue6) 100%);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: left;
}
ul.blacknBlueDiv{
    list-style: none;
}
li.blacknBlueDiv{
    display: flex;
    text-align: left;
    align-items: center;
    font-size: 1.5rem;
    margin: 1rem;
}
#blueArrow{
    position: absolute;
    bottom: 5rem;
    width: 7rem;
    height: auto;
    transform: translate(-110%,90%);
}
#freeConsultation{
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid var(--blue3);
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--blue3);
    margin: 0 auto;
    transition: background-color 300ms;
}
#freeConsultation:hover{
    color: white;
    background-color: var(--blue3);
}
#freeConsultation:active{
    color: white;
    background-color: var(--blue2);
}
@media screen and (max-width: 1100px) {
    h2.DSF{
        font-size: 2rem;
    }
}
@media screen and (max-width: 750px) {
    section.DSF{
        margin: 6rem auto 0 auto;
        width: 95%;

    }
    div.blueHeadings{
        margin: 3rem 0;
    }
    h2.DSF{
        font-size: 1.8rem;
        padding-bottom: 5px;
    }
    p.DSF{
        font-size: 1.5rem;
        width: 90%;
        margin: 0.5rem auto;
    }
    div#blacknBlueDiv{
        margin: 4rem auto 4rem auto;
        width: 90%;
        flex-direction: column;
        height: auto;
    }
    h2.blacknBlueDiv{
        text-align: center;
    }
}

@media screen and (max-width: 435px) {
    section.DSF {
        margin: 3rem auto 0 auto;
    }
    h2.DSF{
        /* margin: 0.5rem; */
        font-size: 1.3rem;
    }
    div#blacknBlueDiv{
        margin: 4rem auto 3rem auto;
    }
    #blueArrow{
        width: 5rem;
        bottom: 4rem;
    }
}
/* Services - SECTION */
section.services{
    text-align: center;
    width: 80%;
    margin: 0 auto 0 auto;
}
h3.services{
    font-size: 2rem;
    margin-top: 140px;

}
#servicesGrid{
    display: grid;
    gap: 1rem;
    grid-template: 1fr 0.8fr / 1fr 1fr 1fr;
    grid-template-areas: 
    "grid1 grid1 grid2"
    "grid3 grid4 grid5";
}
#grid1{
    grid-area: grid1 ;
}
#grid2{
    grid-area: grid2;
}
#grid3{
    grid-area: grid3 ;
}
#grid4{
    grid-area: grid4 ;
}
#grid5{
    grid-area: grid5 ;
}
div.grid{
    /* position: relative; */
    text-align: left;
    border: 1px solid lightgrey;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.3);
    transition-duration: 450ms;

    background: linear-gradient(35deg, rgba(255,255,255,0.1) 70%, rgba(27,0,255,0.4) 110%) left;
    background-size: 200% 100%; /* Make the background larger */

    transition: background-position 450ms ease, border 450ms ease;
}
div.grid:hover{
    border: 1px solid black;
    background-position: right;
    
}
h3.grid{
    font-size: 1.5rem;
    font-weight: 500;
}
p.grid{
    font-size: 1.2rem;
    font-family: "Nunito Sans", sans-serif;
}
div.img-grid{
    display: flex;
    flex-wrap: wrap;
    
}
img.img-grid{
    width: auto;
    height: 1.4rem;
    border: 1px solid lightgrey;
    border-radius: 1.5rem;
    margin: 0.5rem;
    padding: 1.3rem;
    background-color: rgba(255, 255, 255, 0.45);
    filter: grayscale(0.9);

}
img.img-grid:hover{
    filter: grayscale(0);

}
@media screen and (max-width: 750px) {
    section.services{
        width: 90%;
    }
    #servicesGrid{
        grid-template: 1fr 0.8fr 0.8fr / 1fr 1fr;
        grid-template-areas: 
        "grid1 grid1" 
        "grid2 grid3"
        "grid4 grid5";
    }
    img.img-grid{
        height: 1.5rem;
    }
}
@media screen and (max-width: 500px) {
    section.services{
        width: 95%;
    }
    #servicesGrid{
        display: flex;
        flex-wrap: wrap;
    }
    div.grid{
        height: auto;
    }
    img.img-grid{
        height: 1rem;
    }
}
/* How ideas become products - SECTION */
section.HIBP{
    margin: 0 auto 0 auto;
    width: 80%;
}
h3.HIBP{
    font-size: 2rem;
    margin-top: 140px;

}
div#flexHIBP{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    position: relative;
    top: 4rem;
}
div.HIBP{
    position: relative;
    max-width: 100%;
    margin: 2rem ;

    border-radius: 1.5rem;
    text-align: left;
}
h2.HIBP.blue{
    position: absolute;
    top: -5rem;
    font-weight: 300;
    color: var(--blue6);
    transform: rotate(-30deg);
}
h2.HIBP.black{
    font-weight: 500;

}
div.circle{
    width: 2rem;
    aspect-ratio: 1 / 1 ;
    border-radius: 10rem;
}
div.circle.o1{
    background-image: linear-gradient(to right, var(--blue6), var(--blue5));
}
div.circle.o2{
    background-image: linear-gradient(to right, var(--blue5), var(--blue3));
}
div.circle.o3{
    background-image: linear-gradient(to right, var(--blue3), var(--blue1));
}
div.circle.o4{
    background-image: linear-gradient(to right, var(--blue1), var(--light-pink));
}
#rocketContainer{
    position: absolute;
    width: 12rem;
    height: auto;
    left: 1rem;
    top: -12rem;
    aspect-ratio: 1/0.9;
    /* background-color: #2569C8; */
}
img#rocketTrail{
    position: absolute;
    width: 10rem;
    height: auto;
    top: 2rem;
    right: 1rem;

}
img#rocket{
    top: -0.5rem;
    position: absolute;
    right: 0;
}
@media screen and (max-width: 1000px) {
    img#rocketTrail{
        top: 2.5rem;
        right: 1.5rem;
    
    }
}
@media screen and (max-width: 750px) {
    section.HIBP{
        width: 100%;
    }
    div#flexHIBP{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        row-gap: 8rem;
    }
}
/* Pricing - SECTION */
section.price{
    width: 80%;
    margin: 0 auto 0 auto;
}
h3.price{
    margin-top: 140px;
    font-size: 2rem;
}
div.priceDivs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0;
    margin-top: 3rem;
}
div.priceCard{
    position: relative;
    border-radius: 1.5rem;
    width: 25%;
    min-width: 150px;
    height: 31rem;
    margin: 1.5rem 0;
    transition-duration: 300ms;
}
div.priceCard.first{
    h4.price{
        margin: 1rem 0;
    }
    p.price{
        margin: 2rem 0 0 0;
    }
    ul.price{
        margin: 2rem 0;
    }
}
div.priceCard.mid{
    height: 34rem;
    margin: 0 0;

    border: 2px solid lightgray;
    img.price{
        display: block;
        position: absolute;
        width: 4rem;
        right: -3.5rem;
        top: -3.5rem;
    }
    p.price{
        margin: 3rem 0;
    }
}
div.priceCard.last{
    h4.price{
        margin: 1rem 0;
    }
    p.price{
        margin: 0.2rem 0;
    }
}
h4.price{
    font-size: 1.5rem;
}
p.price{
    margin: 2rem 0;
}
ul.price{
    display: inline-block;
    margin: auto 0;
    list-style: none;
    padding-left: 0;
    width: auto;
}
li.price{
    display: flex;
    align-items: center;
    margin: 1rem;
}
span.material-symbols-outlined.price{
    color: black;
}
#priceGet,#priceContact{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0.5rem 2.5rem;
    border-radius: 2rem;
    border: 2px solid var(--blue3);
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    text-wrap: nowrap;
    color: var(--blue3);
    transition: background-color 300ms;
}
#priceGet:hover,#priceContact:hover{
    color: white;
    background-color: var(--blue3);
}
#priceGet:active,#priceContact:active{
    color: white;
    background-color: var(--blue2);
}
@media screen and (max-width: 1000px) {
    section.price{
        width: 95%;
    }
    div.priceCard.first{
        height: 34rem;
    }
    div.priceCard.mid{
        height: 37rem;
    }
    div.priceCard.last{
        height: 34rem;

    }
}
/* Cases - SECTION */
h3.cases{
    margin-top: 140px;
    font-size: 2rem;    
}
